.skills-block {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 4cbe854a031e450f7944a89848d6ccb9c3160404
  margin: 0.6em auto;
  width: 90%;
}

.skills-block span {
  display: inline-block;
  padding: 0.2em;
}

.skills-block span::before {
  content: "#";
  color: #3B4349;
}
<<<<<<< HEAD
=======
    margin: 0.6em auto;
    width: 90%;
}

.skills-block span {
    display: inline-block;
    padding: 0.2em;
}

.skills-block span::before {
    content: "#";
  }
>>>>>>> 3a357b11dc8b8c1e75cd9646d665bf452d3fe8ab
=======
>>>>>>> 4cbe854a031e450f7944a89848d6ccb9c3160404
