.contact-link{
<<<<<<< HEAD
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1em;
    font-weight: 500;
    text-decoration-line: underline;
}

a {
    color: #3B4349;
=======
    color:red;
    font-family: 'Robot';
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    text-decoration-line: underline;
>>>>>>> 3a357b11dc8b8c1e75cd9646d665bf452d3fe8ab
}