
<p>
    <strong>Title:</strong>
    <%= @programminglanguage.language %>
</p>

<%= link_to 'Back', programminglanguages_path() %>
<%= link_to 'Destroy', programminglanguage_path(),
     method: :delete,
     data: { confirm: 'Are you sure?' } %>


