<div class="homeContainer">
  <%= link_to 'Users', controller: 'users' %>
  <%= link_to 'Languages provided', controller: 'languages' %>
   <%= link_to 'Experiences', controller: 'experiences' %>
  <h1>Welcome to Mentor Mentee Platform</h1>
  <button type="button" class="btn btn__signup">Sign Up</button>
  <%= image_tag("group.png", :alt => "group avatar", :class => "avatar") %>  
</div>





