.card {
  align-items: center;
  background-color: #fea594;
  color: #3b4349;
  display: flex;
  flex-direction: column;
  margin: 4rem;
  padding: 0.8rem;
  text-align: left;
  width: 20rem;
}

.card.mentee {
  background-color: #e32c6a;
}

.card.mentor-mentee {
  background: linear-gradient(
    135deg,
    rgba(227, 43, 105, 1) 0%,
    rgba(248, 194, 161, 1) 100%
  );
}

.card .content {
  background-color: #fff;
  margin: 0 1rem;
  padding: 0.8rem 1.5rem 0.2rem;
  position: relative;
  width: 18.5rem;
}

.card .avatar {
  position: absolute;
  left: 40%;
  transform: translateX(-40%);
  transform: translateY(-60%);
  top: 0;
}

.card .extended .name,
.card .extended .role {
  text-align: center;
}

.card .extended .role + .card-section {
  border-top: none;
}
