* {
  padding: 0;
  margin: 0;
}

.card {
  align-items: center;
  background-color: #ccc;
  display: flex;
  font-family: 'Roboto';
  flex-direction: column;
  height: 30%;
  min-width: 150px;
  margin: 1em;
  padding: 0 1em 0.5em;
  width: 15%;
}

.right {
  margin-top: 1em;
  text-align: right;
  width: 100%;
}

.right a {
  text-decoration: none;
}